.header{
    background-color: black;
    position: absolute; /*para fixar o menu*/
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Press Start 2P', cursive;
}
  
.header h10{
    margin: 30px;
}
  
.menu {
    margin: 10px;
    padding: 0px;
    display: flex;
    list-style: none;
    gap: 20px;
}
  
.menu a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
  
.header h10{
    color: white;
    font-size: 60px;
}
  
a {
    position: relative;
    color: #fff;
    text-decoration: none;  
}
  
a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 0, 0);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/*Fim do cabeçalho idiota*/


iframe {
    display: flex;
    height: 500px;
    width: 900px;
    position: absolute;
    margin-top: 800px;
    margin-left: 180px;
    border-radius: 20px;
}



body {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    height: 50vh;
    width: 200vh;
    background-image: url('/imagens/CidadeNoturna.png');
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}


.content {
    height: 500px;
    width: 950px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 150px;
}

.bar {
    width: 70px;
    height: 20px;
    border: 2px solid #fff;
    margin: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background-color: #fff;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}

.tipos {
    margin-top: 210vh;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    align-content: flex-end;
    column-gap: 30px;
    font-family: 'Press Start 2P';

}

.fotinha {
    display: flex;
    justify-content: center;
    margin-left: 725px;
    margin-top: -120vh;
    gap: 30px;
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

.fotinha2 {
    display: flex;
    justify-content: center;
    margin-right: 725px;
    margin-top: -120vh;
    gap: 30px;
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: red;
}

ol,ul,dl {
    color: rgb(255, 238, 0);
}

dt {
    text-align: center;
    color: rgb(0, 255, 0);
}


